<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'dashboard' %}">
                    <span><i class="fa fa-dashboard"></i></span>
                    Dashboard <span>(current)</span>
                </a>
            </li>
            <div class="dropdown-divider"></div>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'client' %}">
                    <span><i class="fa fa-user-tie"></i></span>
                    client
                </a>
            </li>
            <div class="dropdown-divider"></div>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'loan' %}">
                    <span><i class="fa fa-coins"></i></span>
                   Loans
                </a>
            </li>
            <div class="dropdown-divider"></div>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'group' %}">
                    <span><i class="fa fa-users"></i></span>
                   Groups
                </a>
            </li>
            <div class="dropdown-divider"></div>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'application' %}">
                    <span><i class="fa fa-bell"></i></span>
                   Applications
                </a>
            </li>
            <div class="dropdown-divider"></div>
        </ul>

    </div>
</nav>
