{% extends 'base.html' %}
{% block title %}
Client
{% endblock %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Client</h1>
    </div>


    <div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#clientModal">
            Add Client
        </button>
        {% include 'Bims_common_templates/messages.html' %}

        <!-- create client Modal -->
        <div class="modal fade" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="clientModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="clientModalLabel">Add Client Form</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'add-client' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="First_Name">First Name:</label>
                                <input type="text" class="form-control" id="First_Name" name="First_Name">
                            </div>
                            <div class="form-group">
                                <label for="Last_Name">Last Name:</label>
                                <input type="text" class="form-control" id="Last_Name"
                                       name="Last_Name">
                            </div>
                            <div class="form-group">
                                <label for="Surname">Surname:</label>
                                <input type="text" class="form-control" id="Surname" name="Surname">
                            </div>
                            <div class="form-group">
                                <label for="Phone_Number">Phone_Number:</label>
                                <input type="tel" pattern="^(0|\+)\d{8,15}$" class="form-control" id="Phone_Number"
                                       name="Phone_Number" placeholder="07xxxxxxxx">
                            </div>
                            <div class="form-group">
                                <label for="PoBox">Po.Box:</label>
                                <input type="number" class="form-control" id="PoBox" name="PoBox">
                            </div>
                            <div class="form-group">
                                <label for="Residence">Residence:</label>
                                <input type="text" class="form-control" id="Residence" name="Residence">
                            </div>
                            <div class="form-group">
                                <label for="Email">Email:</label>
                                <input type="email" class="form-control" id="Email" name="Email">
                            </div>
                            <div class="form-group">
                                <label for="Id_No">Id_No:</label>
                                <input type="number" class="form-control" id="Id_No" name="Id_No">
                            </div>
                            <div class="form-group">
                                <label for="DOB">DateOfBirth:</label>
                                <input type="date" class="form-control" id="DOB" name="DOB">
                            </div>
                            <div class="form-group">
                                <label for="Occupation">Occupation:</label>
                                <input type="text" class="form-control" id="Occupation" name="Occupation">
                            </div>

                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Acc No</th>
                <th scope="col">Client Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Po.Box</th>
                <th scope="col">Residence</th>
                <th scope="col">Email</th>
                <th scope="col">Id_No</th>
                <th scope="col">Occupation</th>
                <th scope="col">Manage</th>
            </tr>
            </thead>
            <tbody>
            {% for client in clients %}
            <tr>
                <th scope="row">{{ client.id }}</th>
                <td>{{ client.Acc_No }}</td>
                <td>{{ client.First_Name }}
                    {{ client.Last_Name }}
                    {{ client.Surname }}
                </td>
                <td>{{ client.Phone_Number}}</td>
                <td>{{ client.PoBox }}</td>
                <td>{{ client.Residence }}</td>
                <td>{{ client.Email }}</td>
                <td>{{ client.Id_No }}</td>
                <td>{{ client.Occupation }}</td>
                <td>
                    <button data-toggle="modal" data-target="#update{{ client.id }}"
                            class="btn btn-sm btn-success">Update
                    </button>
                    <button data-toggle="modal" data-target="#delete{{ client.id }}"
                            class="btn btn-sm btn-warning">Delete
                    </button>
                </td>
            </tr>
            <!-- update client Modal -->
            <div class="modal fade" id="update{{ client.id }}" tabindex="-1" role="dialog"
                 aria-labelledby="updateModal"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="updateModal">Update Client Form</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'update-client' client.id%}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="First_Name">First Name:</label>
                                    <input type="text" class="form-control" id="First_Name" name="First_Name" value="{{client.First_Name}}">
                                </div>
                                <div class="form-group">
                                    <label for="Last_Name">Last Name:</label>
                                    <input type="text" class="form-control" id="Last_Name"
                                           name="Last_Name" value="{{ client.Last_Name }}">
                                </div>
                                <div class="form-group">
                                    <label for="Surname">Surname:</label>
                                    <input type="text" class="form-control" id="Surname" name="Surname" value="{{ client.Surname }}">
                                </div>
                                <div class="form-group">
                                    <label for="Phone_Number">Phone_Number:</label>
                                    <input type="tel" pattern="^(0|\+)\d{8,15}$" class="form-control" id="Phone_Number"
                                           name="Phone_Number" placeholder="07xxxxxxxx" value="{{ client.Phone_Number }}">
                                </div>
                                <div class="form-group">
                                    <label for="PoBox">Po.Box:</label>
                                    <input type="number" class="form-control" id="PoBox" name="PoBox" value="{{ client.PoBox }}">
                                </div>
                                <div class="form-group">
                                    <label for="Residence">Residence:</label>
                                    <input type="text" class="form-control" id="Residence" name="Residence" value="{{ client.Residence }}">
                                </div>
                                <div class="form-group">
                                    <label for="Email">Email:</label>
                                    <input type="email" class="form-control" id="Email" name="Email" value="{{ client.Email }}">
                                </div>
                                <div class="form-group">
                                    <label for="Id_No">Id_No:</label>
                                    <input type="number" class="form-control" id="Id_No" name="Id_No" value="{{ client.Id_No }}">
                                </div>
                                <div class="form-group">
                                    <label for="DOB">DateOfBirth:</label>
                                    <input type="date" class="form-control" id="DOB" name="DOB" value="{{ client.DOB }}">
                                </div>
                                <div class="form-group">
                                    <label for="Occupation">Occupation:</label>
                                    <input type="text" class="form-control" id="Occupation" name="Occupation" value="{{ client.Occupation }}">
                                </div>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- delete client Modal -->
            <div class="modal fade" id="delete{{ client.id }}" tabindex="-1" role="dialog"
                 aria-labelledby="deleteModal"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModal">Confirm Delete</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'delete-client' client.id %}" method="post">
                                {% csrf_token %}
                                <p>Are you sure you want to delete "{{ client.Acc_No }}"?</p>
                                <button type="submit" class="btn btn-danger">Yes</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}